body {
  background-color: #2c2f33;
  color: white;
}

.page-title {
  text-align: center;
  margin: 2rem;
}

.container {
  margin-top: 2rem;
}

pre {
  color: #5ee800;
  padding: 0.2rem 0;
  overflow: inherit;
}

code {
  background-color: #393c40;
  color: #5ee800;
  padding: 0.2rem 0;
}

.form-control {
  background-color: #2c2f33;
  color: white;
}

.form-control:focus {
  background-color: #414448;
  color: white;
}
